@import '../../styles/colors';
@import '../../styles/responsive';
.about {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    color: $text;
    background-color: $main;
    margin: 2% auto;
    margin-left: 2rem;
    height: 100%;
    padding: 2%;
    @include desktop {
        padding: 1% 9%;
        margin-bottom: 300px;
    }
    &__title {
        margin: 9% 0;
        @include desktop {
            font-size: 2rem;
        }
    }
    &__text {
        text-align: initial;
        margin: 0.2rem;
        font-size: 1.5rem;
        @include tablet {
            font-size: 2.9rem;
        }
        @include desktop {
            font-size: 2.9rem;
        }
    }
}