@import '../../styles/colors';
@import '../../styles/responsive';
.offcanvas {
    position: fixed;
    top: 0;
    right: -100%;
    width: 70%;
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $line;
    box-shadow: 8px 5px 18px -2px rgba(39, 39, 39, 0.73);
    z-index: 1;
    visibility: hidden;
    @include desktop {
        right: -280px;
        visibility: visible;
        width: 380px;
        padding-right: 2%;
        flex-direction: row;
        &:hover {
            animation: openDesktop 1s;
            animation-fill-mode: forwards;
        }
    }
    &__list {
        position: relative;
        display: block;
        padding: 0px 48px 0;
        list-style: none;
        width: 90%;
        @include desktop {
            padding: 0;
        }
    }
    &__item {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        margin-top: 5px;
    }
    a {
        color: $text;
        position: relative;
        width: 100%;
        text-decoration: none;
        font-family: inherit;
        font-size: 2rem;
        line-height: 2;
        font-weight: bold;
        @include tablet {
            font-size: 3rem;
        }
        @include desktop {
            width: 90%;
        }
    }
    &__link-mobile {
        display: block;
        @include desktop {
            display: none;
        }
    }
    &__link-desktop {
        display: none;
        @include desktop {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-left: 5%;
        }
    }
    &__icon {
        color: $text;
        display: none;
        @include desktop {
            display: inline;
            font-size: 2rem;
        }
    }
    &__text {
        display: flex;
        justify-content: flex-start;
        width: 100%;
        margin-left: 4.2rem;
    }
}

.offcanvasOn {
    animation: open 1s;
    animation-fill-mode: forwards;
}

@keyframes open {
    0% {
        left: -100%;
        visibility: hidden;
    }
    100% {
        left: 0%;
        visibility: visible;
    }
}

@keyframes openDesktop {
    0% {
        right: -280px;
    }
    100% {
        right: 0px;
    }
}