@import '../../styles/colors';
@import '../../styles/responsive';
.emailContact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 87%;
    background-color: $line;
    border: 1px groove $line;
    border-radius: 10px;
    @include desktop {
        min-height: 10%;
        max-height: 50%;
        margin-top: 50px;
    }
    &__close {
        font-size: 1.3rem;
        color: $text-secondary;
        text-align: right;
        margin: 1rem 1rem 0 0;
        height: 2rem;
    }
    &__x {
        cursor: pointer;
    }
    &__title {
        color: $text;
        margin: 9% 0;
        font-size: 1.5rem;
        @include desktop {
            font-size: 2rem;
            margin: 2% 0;
        }
    }
}

.form {
    &__fieldset {
        width: 100%;
        margin-bottom: 3%;
    }
    &__control {
        width: 87%;
        height: 3rem;
    }
    &__control-textarea {
        width: 87%;
        height: 9rem;
    }
}

.btn {
    position: relative;
    background: $menu;
    border: 0;
    padding: 14px 42px;
    border-radius: 3px;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    color: $text;
    letter-spacing: 0.2em;
    margin-bottom: 5%;
}

.outline {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 0;
    width: 100%;
    min-height: 100%;
    z-index: 4;
    background-color: $secondary;
    backdrop-filter: blur(2px);
    @include desktop {}
}

.hidden {
    display: none;
}