@import '../../styles/colors';
@import '../../styles/responsive';
.contact {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    color: $text;
    background-color: $main;
    margin: 20% auto 0 auto;
    height: 100%;
    width: 100%;
    padding: 9%;
    font-size: 4rem;
    @include desktop {
        flex-direction: column;
        margin: 0;
        padding: 9% 22% 9% 14%;
    }
    &__container-title {
        width: 100%;
    }
    &__title {
        font-size: 1.5rem;
        margin: 9% 0;
        text-align: left;
        @include desktop {
            font-size: 2rem;
        }
    }
    &__container-main {
        min-width: 40%;
        margin: 0;
        padding: 0;
        @include desktop {
            min-width: 100%;
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: space-around;
        }
    }
    &__container {
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: 40%;
        background-color: $line;
        margin: 5% 0;
        border-radius: 0.5rem;
        transition: all 0.4s ease;
        @include desktop {
            min-width: 25%;
            font-size: 5rem;
        }
        &:hover {
            border-radius: 5% 5% 50% 50% / 5% 5% 5% 5%;
            box-shadow: 10px 10px rgba(0, 0, 0, 0.25);
        }
        &::before {
            content: '';
            display: block;
            padding-top: 100%;
        }
    }
    &__link {
        text-decoration: none;
        color: $text;
    }
}