@import '../../styles/colors';
@import '../../styles/responsive';
.home {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-between;
    color: $text;
    background-color: $main;
    margin: 25% auto 0 auto;
    height: 100%;
    padding: 9%;
    @include desktop {
        margin: 0.6rem 0 0.5rem 2rem;
        padding: 60px 9% 2% 9%;
    }
    &__container {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        margin-bottom: 20%;
        @include desktop {
            margin-bottom: 5%;
        }
    }
    &__title {
        margin: 0.2rem;
        font-size: 1.8rem;
        font-weight: bold;
        @include tablet {
            font-size: 2.9rem;
        }
        @include desktop {
            font-size: 2.9rem;
        }
    }
    &__subtitle {
        bottom: 10%;
        font-size: 1.2rem;
        @include tablet {
            font-size: 2rem;
        }
    }
    &__arrow {
        display: flex;
        justify-content: center;
        width: 100%;
        font-size: 2rem;
        @include desktop {
            font-size: 3rem;
        }
        a {
            color: $text;
        }
    }
}

.animate::before {
    content: 'FULL STACK';
    animation: animate 5s ease-out;
    animation-iteration-count: infinite;
    visibility: visible;
}

@keyframes animate {
    0% {
        content: '.';
        color: $text-secondary;
        visibility: hidden;
    }
    2% {
        content: '=';
        visibility: visible;
    }
    4% {
        content: '=#';
    }
    6% {
        content: '=#!';
    }
    8% {
        content: '=#!%';
    }
    10% {
        content: '=#!%@';
    }
    12% {
        content: '=#!%@/';
    }
    14% {
        content: '=#!%@/)';
    }
    16% {
        content: '=#!%@/)*';
    }
    18% {
        content: '=#!%@/)*}';
    }
    20% {
        content: '=#!%@/)*}#';
    }
    22% {
        content: '=#!%@/)*}#';
        color: $text-secondary;
    }
    24% {
        content: '=#!%@/)*}K';
    }
    26% {
        content: '=#!%@/)*CK';
    }
    28% {
        content: '=#!%@/)ACK';
    }
    30% {
        content: '=#!%@/TACK';
    }
    32% {
        content: '=#!%@STACK';
    }
    34% {
        content: '=#!L STACK';
    }
    36% {
        content: '=#LL STACK';
    }
    38% {
        content: '=ULL STACK';
    }
    40% {
        content: 'FULL STACK';
        color: $text;
    }
    50%,
    60%,
    70%,
    80%,
    90%,
    100% {}
}

.bounce {
    -moz-animation: bounce 2s infinite;
    -webkit-animation: bounce 2s infinite;
    animation: bounce 2s infinite;
}

@keyframes bounce {
    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-5px);
    }
    60% {
        transform: translateY(-7px);
    }
}