@import '../../styles/colors';
@import '../../styles/responsive';
.navbar {
    background-color: $main;
    height: 55;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 2rem;
    color: $text;
    z-index: 1;
    @include desktop {
        display: none;
        position: sticky;
        padding: 2rem 3rem;
        align-content: flex-start;
        flex-direction: column;
        flex-wrap: nowrap;
        width: 20%;
        height: 100vh;
    }
    &__menu {
        font-size: 1.8rem;
        margin-right: -2%;
        @include desktop {
            display: none;
        }
    }
    &__logo {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        background-color: $secondary;
        font-size: 2rem;
        color: $text;
        font-weight: bold;
    }
    &__menu-desktop {
        display: none;
        @include desktop {
            display: flex;
        }
    }
    &__list {
        display: flex;
        list-style: none;
        justify-content: space-around;
        margin-right: 1rem;
    }
    &__item {
        margin-left: 2rem;
        font-size: 2rem;
        font-weight: 300;
    }
}

.menu-icon {
    transform: scale(1.5);
}

.menu-icon {
    position: relative;
    width: 50px;
    height: 50px;
    cursor: pointer;
    z-index: 2;
    .menu-icon__cheeckbox {
        display: block;
        width: 100%;
        height: 100%;
        position: relative;
        cursor: pointer;
        z-index: 2;
        -webkit-touch-callout: none;
        position: absolute;
        opacity: 0;
    }
    div {
        margin: auto;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        width: 22px;
        height: 12px;
    }
    span {
        position: absolute;
        display: block;
        width: 100%;
        height: 2px;
        background-color: var(--bar-bg, $text-secondary);
        border-radius: 1px;
        transition: all 0.2s cubic-bezier(0.1, 0.82, 0.76, 0.965);
        &:first-of-type {
            top: 0;
        }
        &:last-of-type {
            bottom: 0;
        }
    }
    &.active,
    .menu-icon__cheeckbox:checked+div {
        span {
            &:first-of-type {
                transform: rotate(45deg);
                top: 5px;
            }
            &:last-of-type {
                transform: rotate(-45deg);
                bottom: 5px;
            }
        }
    }
}