@import '../../styles/colors';
@import '../../styles/responsive';
.card {
    max-width: 90%;
    padding: 2%;
    color: $text;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    text-align: left;
    @include desktop {
        max-width: 95%;
        height: auto;
        font-size: 1.6rem;
        padding: 0;
    }
    &__container-main {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        background-color: $line;
        border: 1px groove $line;
        border-radius: 10px;
        padding: 0 0 2% 0;
        margin-bottom: 10%;
        box-shadow: 5px 5px 15px 5px rgba(39, 39, 39, 0.73);
        @include desktop {
            flex-direction: row;
            flex-wrap: nowrap;
            flex: 1 1 0px;
            justify-content: space-between;
            padding: 3%;
        }
    }
    &__container-desktop {
        @include desktop {
            width: 50%;
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: stretch;
            &:last-child {
                padding: 2% 0 2% 5%;
            }
        }
    }
    &__container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        margin: 0.3rem 0;
        padding: 0 0.4rem;
        @include desktop {
            margin: 0;
            padding: 0;
            margin: 0;
        }
    }
    &__img {
        max-width: 100%;
        max-height: 100%;
        border-radius: 10px;
        margin-bottom: 0.5rem;
        @include desktop {
            width: 100%;
        }
    }
    &__title {
        font-size: 1.2rem;
        @include desktop {
            font-size: 2rem;
        }
    }
    &__stack-list {
        width: 100%;
    }
    &__list {
        list-style: none;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        padding: 0;
    }
    &__item {
        margin-right: 0.7rem;
        margin-bottom: 0.3rem;
        &:after {
            content: '|';
            margin-left: 0.5rem;
        }
        &:last-child:after {
            content: ' ';
        }
    }
    &__info {
        padding: 0 10px;
        margin-bottom: 1rem;
    }
    a {
        color: $text-secondary;
        font-size: 1.2rem;
        cursor: pointer;
        @include desktop {
            font-size: 1.7rem;
        }
    }
}

.container-margin {
    margin: 0%;
    padding: 0%;
}