@import './styles/responsive';
.app {
    text-align: center;
    display: flex;
    flex-direction: column;
    @include desktop {
        flex-direction: row-reverse;
        justify-content: space-between;
    }
    &__header {
        width: 100%;
    }
    &__container {
        @include desktop {
            display: flex;
            flex-direction: column;
            width: 100%;
        }
    }
}