@import '../src/styles/colors';
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Big John', Helvetica, 'Helvetica Neue', Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: $main;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}