@import '../../styles/colors';
@import '../../styles/responsive';
.portfolio {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    color: $text;
    background-color: $main;
    margin: 2% auto;
    margin-left: 2rem;
    height: 100%;
    padding: 2%;
    @include desktop {
        padding: 1% 9%;
    }
    &__title {
        margin: 9% 0;
        font-size: 1.5rem;
        @include desktop {
            font-size: 2rem;
        }
    }
}